.home-route {
  max-width: 1200px;
  margin: auto;
  
  .photo-list__image {
    width: 800px;
    height: 600px;
  }
}


.home-route-dark-mode {
  max-width: 1200px;
  margin: auto;
  
  .photo-list__item-dark-mode .photo-list__image {
    width: 800px;
    height: 600px;
  }
}