.photo-list__item {
  margin: 24px;
  padding: 8px;
  border: 3px solid lightgray;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Keep the border-radius for the image */
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
  font-weight: 700;
}

.photo-list__user-info {
  font-size: 16px;
}

.photo-list__user-location {
  color: #838383;
}

.photo-list__user-info-layout {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}