.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
  z-index: 1000;
  
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__image-container {
  position: relative;
  max-width: 95%; /* adjust as necessary */
  margin: 0 auto; /* to center it */
  padding-bottom: 50px; 
  
}

.photo-details-modal--image {
  
  max-width: 95%;
  max-height: 70%;  /* adjust based on your requirement */
  border-radius: 8px;
  display: block; /* To ensure margins work as expected */
  margin:  auto; /* To center the image horizontally */
}

.photo-list__user-profile_modal {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.photo-list__user-info_modal {
  
  position: absolute; /* absolute positioning within the image container */
  bottom: 10px; /* align it with the profile image */
  left: 60px; /* this should be profile image width + a bit of margin, adjust if necessary */
  display: flex;
  flex-direction: row; /* stack name and location vertically */
  align-items: center;
}

.photo-list__user-location_modal {
  margin-left: 14px;
  z-index: 20; /* or some higher value if necessary */
  color: red;
}

.modal-fav-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
  
}

.photo-details-modal__images {
  margin-left: 36px;
  
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
  margin: 24px auto; /* Adjusted from 24px auto to 24px left-margin auto */
  margin-left: 50px;
}



