.photo-list__item {
  // margin: 24px;
  padding: 16px;
  border-width: 1px;
  border-color: lightgray;
  background-color: #fff;
  border-style: solid;
  border-radius: 8px;
  max-width:fit-content;
  width:auto;}


  .photo-list__image {
    border-radius: 8px 8px 0px 0px;
    user-select: none;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  


.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
  align-items: center;
  margin: 11px 0 0;
 
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

.photo-list__user-location {
  color: #838383;
  margin: 0;
  text-align: left;
}