.photo-list__item {
  margin: 24px;
  padding: 16px 16px 16px 16px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.fav-badge {
  position: absolute;
  top: 80px; 
  left: 8px; 
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.photo-details {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 8px;
  margin-right: 175px;
  text-align: left;
}

.text-info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 10px;
}

.username {
  font-weight: 700;
  font-size: 18px;
  margin-top: -1px;
  margin-bottom: -14px; 

}

.location {
  color: #838383;
  font-weight: 700;
  font-size: 18px;
}
