.photo-list--fav-icon {
  display: flex;
  position: relative;
  top: 8px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -30px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 28px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  padding-left: 5px;
}

.photo-list--fav-icon-svg {
  position: relative;
  top: 2px;;
}