.topic-list--item {
  line-height: 24px;
  margin-left: 24px;

  a {
    text-decoration: none;
  }
}

.topic-list--item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #2b2b2b;

  &:hover {
    text-decoration: overline;
    opacity: 0.8;
  }
}
