.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  
}
.top-nav-bar__logo-dark-mode {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-underline-position: auto;
  margin-left: 24px;
  cursor: pointer;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
  cursor: pointer;
}

.right-icons {
  display: flex;
  justify-content: space-between;
}