.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: none;
  text-decoration-color: #FF5733;
  font-weight: 500;
  font-size: 26px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__logo:hover {
  color: #5023ab; /* Darken color on hover */
}