.App {
  margin: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.photo-list--item {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-right: 16px; //add space between items.
}
.user-photo {
  width: 100%;
  border-radius: 5px;
}
.user-profile {
  width: 40%;
  border-radius: 50%;
}
// .user-information{
//   display: flex;
//   justify-content: center;
// }
